server:
  error:
    include-message: always
    include-binding-errors: always
  shutdown: graceful
  forward-headers-strategy: framework
  servlet:
    context-path: /api/customer
  tomcat:
    connection-timeout: 10s
    keep-alive-timeout: 20s
    threads:
      max: 50
      min-spare: 5

spring:
  threads:
    virtual:
      enabled: true
  application:
    name: customer-service
  lifecycle:
    timeout-per-shutdown-phase: 15s

  keycloak:
    server-url: http://localhost/keycloak
    server-external-url: http://localhost/keycloak
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: ${spring.keycloak.server-external-url}/realms/betting-realm
          jwk-set-uri: ${spring.keycloak.server-url}/realms/betting-realm/protocol/openid-connect/certs

  cloud:
    openfeign:
      client:
        config:
          default:
            readTimeout: 20000
            connectTimeout: 30000
          wallet:
            url: ${http.wallet.server-url}

app:
  kafka:
    brokers: "my-cluster-kafka-bootstrap:9092"

logging:
  pattern:
    level: "%5p [${spring.application.name},%X{trace_id},%X{span_id}]"
    console: "%d{yyyy-MM-dd HH:mm:ss} ${LOG_LEVEL_PATTERN:-%5p} %m%n"
  level:
    net.skycomposer.betting: DEBUG
    org.springframework.cloud.kubernetes: TRACE
    org.springframework.security: DEBUG

openapi:
  oauthflow:
    authServerUrl: ${spring.keycloak.server-external-url}
    realm: betting-realm

jwt:
  auth:
    converter:
      resource-id: betting-app
      principal-attribute: preferred_username

http:
  wallet:
    server-url: localhost:9001