apiVersion: apps/v1
kind: Deployment
metadata:
  name: customer
  labels:
    app: customer
spec:
  replicas: 3
  selector:
    matchLabels:
      app: customer
  strategy:
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 0
    type: RollingUpdate
  template:
    metadata:
      labels:
        app: customer
    spec:
      containers:
      - name: customer
        image: $CONTAINER_REGISTRY/customer-service:$VERSION
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 9001
        - containerPort: 8001
        env:
        - name: SERVER_PORT
          value: "9001"
        - name: BPL_JVM_THREAD_COUNT
          value: "50"
        - name: BPL_DEBUG_ENABLED
          value: "true"
        - name: BPL_DEBUG_PORT
          value: "8001"
        - name: SPRING_KEYCLOAK_SERVER_URL
          value: "http://betting-keycloak:8080/keycloak"
        - name: SPRING_KEYCLOAK_SERVER_EXTERNAL_URL
          value: "http://localhost/keycloak"
        - name: HTTP_WALLET_SERVER_URL
          value: "http://betting-house:9001/wallet"
          
        lifecycle:
          preStop:
            exec:
              command: ["sh", "-c", "sleep 5"]

---
apiVersion: v1
kind: Service
metadata:
  name: customer
  labels:
    app: customer
spec:
  selector:
    app: customer
  ports:
  - name: prod
    port: 9001
    targetPort: 9001
  - name: debug
    port: 8001
    targetPort: 8001