apiVersion: apps/v1
kind: Deployment
metadata:
  name: market
  labels:
    app: market
spec:
  replicas: 2
  selector:
    matchLabels:
      app: market
  strategy:
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 0
    type: RollingUpdate
  template:
    metadata:
      labels:
        app: market
    spec:
      containers:
      - name: market
        image: $CONTAINER_REGISTRY/market-service:$VERSION
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 9004
        - containerPort: 8004
        env:
        - name: SERVER_PORT
          value: "9004"
        - name: BPL_JVM_THREAD_COUNT
          value: "50"
        - name: BPL_DEBUG_ENABLED
          value: "true"
        - name: BPL_DEBUG_PORT
          value: "8004"
        - name: SPRING_KEYCLOAK_SERVER_URL
          value: "http://betting-keycloak:8080/keycloak"
        - name: SPRING_KEYCLOAK_SERVER_EXTERNAL_URL
          value: "http://localhost/keycloak"
        - name: GRPC_MARKET_SERVER_URL
          value: "betting-house:9002"
        lifecycle:
          preStop:
            exec:
              command: ["sh", "-c", "sleep 5"]

---
apiVersion: v1
kind: Service
metadata:
  name: market
  labels:
    app: market
spec:
  selector:
    app: market
  ports:
  - name: prod
    port: 9004
    targetPort: 9004
  - name: debug
    port: 8004
    targetPort: 8004